<%- include("header") -%>

<body>
  <div id="nav">
    <div class="col-sm nav-align"><h1 id="title">Vanres Academy</h1></div>
    <div class="col-sm nav-align">
      <a href="/"> <span class="button">Home</span> </a>
      <a href="/courses"> <span class="button">Courses</span> </a>
      <a href="/contact"> <span class="button">Contact</span> </a>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-6"><img src="../images/graph.png" alt="" /></div>
    <div class="col-sm-6">
      <h1>Reach out to us!</h1>
      <p>Enter your email if you're interested to learn more:</p>
      <form class="contact-form" action="/" method="post">
        <input type="email" name="email" placeholder="youremail@domain.com" required />
        <input class="button" type="submit" value="submit" />
      </form>
      <p>We'll get back to you soon!</p>
    </div>
  </div>
</body>
  
  <%- include("footer") -%>